<section class="about-us" id="about-us">
  <div class="container">
    <h2 class="about-us-title">
      O
      <span class="about-us-span">Nas</span>
    </h2>
    <div class="about-us-and">
      <picture class="about-us-foto">
        <source
          srcset="
            ./img/about/rectangle-mob.jpg   1x,
            ./img/about/rectangle-mob.jpg 2x
          "
          media="(min-width:1280px)"
          class="picture"
        />
        <source
          srcset="
            ./img/about/rectangle-mob.jpg    1x,
            ./img/about/rectangle-mob.jpg 2x
          "
          media="(min-width:768px)"
          class="picture"
        />
        <source
          srcset="
            ./img/about/rectangle-mob.jpg    1x,
            ./img/about/rectangle-mob.jpg 2x
          "
          class="picture"
        />
        <img class="" src="./img/about/rectangle-mob.jpg" alt="rectangle" />
      </picture>
      <div class="about-us-parag">
        <p class="about-us-info">
          W HomeSync łączymy pasję z doświadczeniem, by przekształcić Twój dom w
          inteligentne i komfortowe miejsce. Jako zespół ekspertów w dziedzinie
          technologii Smart Home, oferujemy rozwiązania, które zwiększają
          wygodę, bezpieczeństwo i efektywność energetyczną. <br> <br>
          Nasze indywidualne podejście do każdego klienta pozwala nam dostosować
          systemy do Twoich unikalnych potrzeb i oczekiwań. Dzięki HomeSync Twój
          dom stanie się bardziej funkcjonalny i nowoczesny. Pozwól nam stworzyć
          dla Ciebie przestrzeń, która działa w zgodzie z Twoim stylem życia.
        </p>
        
      </div>
    </div>
  </div>
</section>
