<section class="comforts" id="our-curses">
  <div class="comforts-container container">
    <div class="comforts-block">
      <h2 class="comforts-title">
        Twoje <span class="comforts-title-span">Wygody</span>
      </h2>
      <!-- <p class="comforts-text">
        Poznaj, jak nasze usługi mogą uprościć zarządzanie Twoim domem, oferując
        pełną kontrolę nad oświetleniem, bezpieczeństwem i innymi funkcjami,
        zarówno w domu, jak i zdalnie. Każde z naszych rozwiązań jest
        zaprojektowane z myślą o Twoim komforcie i spokoju, dostosowane do
        Twoich indywidualnych potrzeb.
      </p> -->
    </div>
    <ol class="comforts-list">
      <li class="comforts-item">
        <div class="comforts-num-arrow">
          <p class="comforts-item-num">01</p>
          <a href="#signup" class="comforts-item-arrow">
            <svg class="comforts-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="comforts-content">
          <h3 class="comforts-subtitle">WYGODA</h3>
          <p class="comforts-content-text">
            Wychodząc z domu, nie musisz się martwić, czy wyłączyłeś światło lub
            odłączyłeś urządzenia od prądu — możesz sterować wszystkimi
            urządzeniami z telefonu, nawet będąc za granicą.
          </p>
        </div>
      </li>
      <li class="comforts-item">
        <div class="comforts-num-arrow">
          <p class="comforts-item-num">02</p>
          <a href="#signup" class="comforts-item-arrow">
            <svg class="comforts-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="comforts-content">
          <h3 class="comforts-subtitle">KOMFORT</h3>
          <p class="comforts-content-text">
            Nie musisz szukać włącznika światła w ciemnościach — czujnik ruchu
            można ustawić tak, aby nocą światło włączało się delikatnie na 20%
            mocy, zapewniając przyjemną atmosferę.
          </p>
        </div>
      </li>
      <li class="comforts-item">
        <div class="comforts-num-arrow">
          <p class="comforts-item-num">03</p>
          <a href="#signup" class="comforts-item-arrow">
            <svg class="comforts-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="comforts-content">
          <h3 class="comforts-subtitle">BEZPIECZEŃSTWO</h3>
          <p class="comforts-content-text">
            Możesz otworzyć drzwi jednym dotknięciem lub zdalnie wpuścić gości
            do domu. System inteligentnego domu może symulować Twoją obecność, a
            także chronić urządzenia takie jak telewizor, lodówka czy komputer.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
