<section class="courses" id="our-curses">
  <div class="courses-container container">
    <div class="courses-block">
      <h2 class="courses-title">
        Twoje <span class="courses-title-span">Korzyści</span>
      </h2>
      <!-- <p class="courses-text">
        Poznaj, jak nasze usługi mogą uprościć zarządzanie Twoim domem, oferując
        pełną kontrolę nad oświetleniem, bezpieczeństwem i innymi funkcjami,
        zarówno w domu, jak i zdalnie. Każde z naszych rozwiązań jest
        zaprojektowane z myślą o Twoim komforcie i spokoju, dostosowane do
        Twoich indywidualnych potrzeb.
      </p> -->
    </div>
    <ol class="courses-list">
      <li class="courses-item">
        <div class="courses-num-arrow">
          <p class="courses-item-num">01</p>
          <a href="#signup" class="courses-item-arrow">
            <svg class="courses-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="courses-content">
          <h3 class="courses-subtitle">WYGODA</h3>
          <p class="courses-content-text">
            Wychodząc z domu, nie musisz się martwić, czy wyłączyłeś światło lub
            odłączyłeś urządzenia od prądu — możesz sterować wszystkimi
            urządzeniami z telefonu, nawet będąc za granicą.
          </p>
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-num-arrow">
          <p class="courses-item-num">02</p>
          <a href="#signup" class="courses-item-arrow">
            <svg class="courses-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="courses-content">
          <h3 class="courses-subtitle">KOMFORT</h3>
          <p class="courses-content-text">
            Nie musisz szukać włącznika światła w ciemnościach — czujnik ruchu
            można ustawić tak, aby nocą światło włączało się delikatnie na 20%
            mocy, zapewniając przyjemną atmosferę.
          </p>
        </div>
      </li>
      <li class="courses-item">
        <div class="courses-num-arrow">
          <p class="courses-item-num">03</p>
          <a href="#signup" class="courses-item-arrow">
            <svg class="courses-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="courses-content">
          <h3 class="courses-subtitle">BEZPIECZEŃSTWO</h3>
          <p class="courses-content-text">
            Możesz otworzyć drzwi jednym dotknięciem lub zdalnie wpuścić gości
            do domu. System inteligentnego domu może symulować Twoją obecność, a
            także chronić urządzenia takie jak telewizor, lodówka czy komputer.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
