<section class="dvert">
  <div class="dvert-wrapp">
    <hr class="dvert-line" />
    <div class="dvert-inner">
      <h2 class="dvert-line-text">
        Synchronizuj<span class="white-dvert">swój dom,</span> uprość
        <span class="white-dvert">swoje życie</span> &nbsp;
      </h2>
      <h2 class="dvert-line-text">
        Synchronizuj <span class="white-dvert">swój dom,</span> uprość <span class="white-dvert">swoje życie</span> &nbsp;
      </h2>
    </div>
    <hr class="dvert-line" />
  </div>
</section>
