<footer class="section-footer">
  <hr class="footer-line" />
  <div class="container">
    <div class="footer-flex">
      <div class="footer-logo-wrap">
        <a href="./index.html" class="logo footer-logo"
          >HomeSynk
        </a>
        <address class="footer-address-list">
          <a href="tel:+48 555555555" class="footer-address-link" id="phone"
            >PL: +48 555-555-555</a
          ><br />
          <a
            href="https://maps.app.goo.gl/54yhKRofk1E4htW97"
            class="footer-address-link"
            >Polska, Warszawa</a
          >
        </address>
      </div>
      <div class="footer-link-wrap">
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              href="!#"
              class="footer-soc-link"
              >Instagram</a
            >
          </li>
          <li class="footer-soc-item">
            <a href="!#" class="footer-soc-link"
              >Facebook</a
            >
          </li>
          <li class="footer-soc-item">
            <a href="!#" class="footer-soc-link"
              >Youtube</a
            >
          </li>
        </ul>
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#about-us" class="footer-nav-link">About us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#our-curses" class="footer-nav-link">O NAS</a>
          </li>
          <li class="footer-nav-item">
            <a href="#mentors" class="footer-nav-link">Korzyści</a>
          </li>
          <li class="footer-nav-item">
            <a href="#reviews" class="footer-nav-link">Usługi</a>
          </li>
          <li class="footer-nav-item">
            <a href="#phone" class="footer-nav-link">Rozwiązania</a>
          </li>
        </ul>
      </div>
      <!-- <form class="footer-form">
        <input
          type="email"
          placeholder="Enter your email"
          class="footer-input"
          name="user-mail"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <button type="submit" class="footer-btn">Go</button>
      </form> -->
    </div>
    <div class="footer-text-wrap">
      <p class="footer-text">Polityka Prywatności<br />Umowa Oferty Publicznej</p>
      <p class="footer-text">
        2024 HomeSynk<br />&#169; Wszelkie prawa zastrzeżone
      </p>
    </div>
  </div>
</footer>
