<header class="header">
  <div class="container">
    <div class="header_nav_button">
      <div class="header_container">
        <a class="logo" href="./index.html">
          Home<span class="header-us-span">Synk</span>
          
            
          </h2>
        </a>
        <nav class="header_desktop_nav">
          <ul class="header_desktop_nav_list">
            <li class="header_desktop_list">
              <a href="#about-us">O NAS</a>
            </li>
            <li class="header_desktop_list">
              <a href="#our-curses">KORZYŚCI</a>
            </li>
            <li class="header_desktop_list">
              <a href="#mentors">USŁUGI</a>
            </li>
            <li class="header_desktop_list">
              <a href="#reviews">Rozwiązania</a>
            </li>
            
          </ul>
        </nav>
        <div class="header_main_content">
          <!-- <a class="button_camera" href="#signup">
            <svg class="button_camera_icon" width="16px" height="16px">
              <use href="./img/icons.svg#icon-camera"></use>
            </svg>
          </a> -->
          <button class="button_burger" type="button">
            <svg class="burger_button">
              <use href="./img/icons.svg#icon-burger"></use>
            </svg>burger
          </button>
        </div>
      </div>
      <a href="#signup" class="header_sing_button">Kontakt</a>
    </div>
  </div>
 
  <div class="header_navigation_window ">
    <div class="burger_list">
      <button class="burger_icon_close" type="button">
        <svg class="header_icon_close">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav>
        <ul class="burger_list_title">
          <li class="header_about_us">
            <a href="#about-us">O nas</a>
          </li>
          <li class="header_about_us_list">
            <a href="#our-curses">Korzyści</a>
          </li>
          <li class="header_about_us_list">
            <a href="#mentors">Usługi</a>
          </li>
          <li class="header_about_us_list">
            <a href="#reviews">Rozwiązania</a>
          </li>
          <li class="header_about_us_list">
            <a href="#phone">Kontakt</a>
          </li>
        </ul>
      </nav>
      <!-- <img
        class="header_img"
        srcset="./img/burgerpicture1.jpg 1x, ./img/burgerpicture2.jpg 2x"
        src="./img/burgerpicture1.jpg"
        alt="burgerpicture"
      /> -->
    </div>
  </div>
</header>
