<section class="how" id="our-curses">
  <div class="how-container container">
    <div class="how-block">
      <h2 class="how-title">
        Jak <span class="how-title-span">to</span> działa?
      </h2>
    </div>
    <ol class="how-list">
      <li class="how-item">
        <div class="how-num-arrow">
          <p class="how-item-num">Krok 1:</p>
          <a href="#signup" class="how-item-arrow">
            <svg class="how-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="how-content">
          <h3 class="how-subtitle">Konsultacja</h3>
          <p class="how-content-text">
            Spotkaj się z naszym ekspertem, aby omówić Twoje potrzeby i oczekiwania.
          </p>
        </div>
      </li>
      <li class="how-item">
        <div class="how-num-arrow">
          <p class="how-item-num">Krok 2: 
            </p>
          <a href="#signup" class="how-item-arrow">
            <svg class="how-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="how-content">
          <h3 class="how-subtitle">Projektowanie</h3>
          <p class="how-content-text">
            Stworzymy indywidualny projekt dostosowany do Twojego domu.
          </p>
        </div>
      </li>
      <li class="how-item">
        <div class="how-num-arrow">
          <p class="how-item-num">Krok 3: 
            </p>
          <a href="#signup" class="how-item-arrow">
            <svg class="how-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="how-content">
          <h3 class="how-subtitle">Instalacja</h3>
          <p class="how-content-text">
            Nasza ekipa zajmie się profesjonalną instalacją wybranych systemów.
          </p>
        </div>
      </li>
      <li class="how-item">
        <div class="how-num-arrow">
          <p class="how-item-num">Krok 4: 
            </p>
          <a href="#signup" class="how-item-arrow">
            <svg class="how-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-flash-hero"></use>
            </svg>
          </a>
        </div>
        <div class="how-content">
          <h3 class="how-subtitle">Wsparcie</h3>
          <p class="how-content-text">
            Oferujemy stałe wsparcie techniczne i serwisowe, abyś mógł cieszyć się pełnią możliwości smart home.
          </p>
        </div>
        
      </li>
    </ol>
  </div>
</section>
