<section class="tab-section common-section">
  <div class="container">
    <h2 class="our-mentors">
      Nasze <span class="our-mentors-span">Usługi</span>
    </h2>

    <div class="tabs">
      <div class="tabs__nav">
        <button class="active" type="button">Usługi dla Apple iOS</button>
        <button type="button">Usługi dla Android</button>
        <!-- <button type="button">Usługi dedykowane</button> -->
      </div>
      <div class="tab-lists">
        <div class="tabs__item">
          <h4>Integracja z Apple HomeKit</h4>
          <div class="tabs__desc">
            <p class="tabs__text">
              Nasze rozwiązania umożliwiają pełną integrację z Apple
              HomeKit, co pozwala na zarządzanie inteligentnym domem za
              pomocą urządzeń Apple, takich jak iPhone, iPad czy Apple
              Watch. Dzięki temu możesz kontrolować oświetlenie,
              ogrzewanie, systemy bezpieczeństwa i inne urządzenia w swoim
              domu bezpośrednio z poziomu aplikacji Home na iOS.
            </p>
            <img class="tabs__img" src="../img/mentors/smart-home.png" alt="img" />
          </div>
        </div>
        <div class="tabs__item">
          <h4>Integracja z Google Home</h4>
          <div class="tabs__desc">
            <p class="tabs__text">
              Oferujemy pełną integrację z Google Home, co umożliwia
              zarządzanie Twoim inteligentnym domem za pomocą urządzeń z
              systemem Android oraz Google Assistant. Dzięki tej
              integracji możesz sterować oświetleniem, temperaturą,
              zabezpieczeniami i innymi funkcjami swojego domu z poziomu
              aplikacji Google Home lub za pomocą komend głosowych.
            </p>
            <img src="../img/mentors/smart-home.png" alt="img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>