<section class="signup" id="signup">
  <div class="container signup-container">
    <div>
      <h2 class="signup-title">Kontakt</h2>
      <p class="signup-text">
        Chcesz uczynić swój dom bardziej inteligentnym i komfortowym? Skontaktuj się z nami! 
        Jesteśmy tutaj, aby odpowiedzieć na wszystkie Twoje pytania i pomóc w 
        zaplanowaniu idealnego systemu Smart Home.
        <br> <br>
Za pomocą poniższego telefonu lub e-maila możesz z łatwością zamówić 
nasze usługi instalacji technologii inteligentnych. Nasz zespół profesjonalistów zadba
 o to, aby cały proces przebiegł sprawnie i dostosował się do Twoich potrzeb.
<br> <br>
Nie czekaj - rozpocznij swoją podróż do nowoczesnego, bezpiecznego i energooszczędnego domu z HomeSync już dziś!
      </p>
      <p class="signup-text">
        <address>
          <strong>Adres:</strong><br>
          ul. Warszwa 01-429,<br>
          00-123 Warszawa, Polska<br>
      </address>
      </p>
      <p class="signup-text"> <br>
        <strong>Kontakt mailowy:</strong><br>
        <a href="mailto:biuro@homesynk.pl">biuro@homesynk.pl</a><br>
      </p>
      <p class="signup-text">
        <strong>Kontakt telefoniczny:</strong><br>
        <a href="tel:+48555555555">+48 555-555-555</a><br>
      </p>
      <!-- <form class="signup-form">
        <input
          type="text"
          name="user-name"
          class="signup-input"
          placeholder="Enter your name"
          pattern="^[a-zA-Z]+$"
          required
        />
        <input
          type="email"
          name="user-email"
          class="signup-input"
          placeholder="Enter your email"
          pattern="^\S+@\S+\.\S+$"
          required
        />
        <textarea
          name="user-text"
          class="signup-textarea"
          placeholder="Message"
        ></textarea>
        <button type="submit" class="signup-btn">SEND</button>
      </form> -->
      <!-- <p class="signup-text-below">
        By clicking on “Send” button, you agree to our
        <a href="">Privacy Policy</a>,<br />
        and allow Promodo to use this information for marketing purposes.
      </p> -->
    </div>
    <div class="signup-img">
      <img
          srcset="./img/rectangle-mob-con.jpg 1x, ./img/rectangle-mob-con.jpg 2x"
          src="./img/rectangle-mob-con.jpg"
          class="signup-img-isabella"
          alt="small camera"
        />
      <!-- <div class="signup-isabella">
        <img
          srcset="./img/iphone-kont.png 1x, ./img/isabella-2x.png 2x"
          src="./img/isabella.png"
          class="signup-img-isabella"
          alt="small camera"
        />
      </div> -->
      <!-- <div class="signup-entry">
        <img 
          srcset="./img/iphone-kont.png 1x, ./img/iphone-kont.png 2x"
          src="./img/iphone-kont.png"
          class="signup-img-entry"
          alt="camera"
        />
      </div> -->
    </div>
  </div>
</section>
