.contacts {
  padding-bottom: 80px;
}
.contacts-title {
  text-align: left;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
.contacts-title span {
  color: #bea69e;
}
.contacts-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.02em;
  width: 100%;
  margin-bottom: 41px;
}
.contacts-form {
  margin-bottom: 20px;
}
.contacts-input {
  display: block;
  margin-bottom: 8px;
  background-color: inherit;
  width: 100%;
  height: 46px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  padding-left: 18px;
  outline: transparent;
}
.contacts-input::placeholder {
  color: #fff;
  opacity: 0.7;
  line-height: 1.29;
}
.contacts-textarea {
  width: 100%;
  height: 112px;
  flex-shrink: 0;
  background-color: inherit;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  line-height: 1.29;
  padding: 14px 18px;
  resize: none;
  margin-bottom: 40px;
  outline: transparent;
}
.contacts-textarea::placeholder {
  color: #fff;
  opacity: 0.7;
  line-height: 1.29;
}
.contacts-btn {
  display: block;
  width: 100%;
  max-width: 320px;
  text-align: center;
  padding: 14px 0;
  border-radius: 12px;
  background-color: #fff;
  color: #121212;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.56;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-btn:hover,
.contacts-btn:focus {
  color: #bea69e;
  background-color: #1d1d1d;
}
.contacts-text-below {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  width: 100%;
  letter-spacing: 0.02em;
}
.contacts-text-below a {
  text-decoration-line: underline;
}
.contacts-img {
  display: none;
}
@media screen and (min-width: 375px) {
  .contacts-text {
    max-width: 295px;
  }
  .contacts-btn {
    max-width: 335px;
    padding: 14px 146px;
  }
  .contacts-text-below {
    max-width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-bottom: 100px;
  }
  .contacts-title {
    font-size: 48px;
    line-height: 1.13;
  }
  .contacts-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 480px;
    margin-bottom: 40px;
  }
  .contacts-input {
    margin-bottom: 14px;
    width: 480px;
    height: 60px;
    font-size: 16px;
    line-height: 1.25;
  }
  .contacts-input::placeholder {
    line-height: 1.25;
  }
  .contacts-textarea {
    width: 480px;
    height: 119px;
    line-height: 1.25;
    padding: 20px 18px;
    margin-bottom: 40px;
  }
  .contacts-textarea::placeholder {
    line-height: 1.25;
  }
  .contacts-btn {
    max-width: 479px;
    padding: 16px 216px;
    font-size: 18px;
  }
  .contacts-text-below {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 1.29;
    max-width: 480px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding-bottom: 150px;
  }
  .contacts-container {
    display: flex;
    justify-content: space-between;
  }
  .contacts-textarea {
    height: 120px;
    padding: 20.55px 18px;
  }
  .contacts-img {
    display: flex;
    gap: 20px;
    max-height: 540px;
  }
 
  .contacts-img-isabella {
   
    max-width: 450px;
    max-height: 280px;
    margin-top: 60px;
  
  }
  .contacts-entry {
    width: 350px;
    height: 540px;
    border-radius: 1000px;
    background-color: #1d1d1d;
  }
  .contacts-img-entry {
    width: 500px;
    margin-top: 250px;
    
  }
}
